body {background-position:top left;background-attachment:fixed;
  background-repeat:no-repeat; margin: 3em 0;}

#index {position:absolute; top:0; right:0; color:#444; font-family:sans-serif;}
#index a {color:#44F; font-weight:bold; text-decoration:none; padding:0 0.2em;}
#index a:hover {color:#99F;}
#container{color:#000;background-color:#FFF;margin:0 auto;width:42em;position:relative;}
#information {text-align:center;color:#888;}
#information a {text-decoration:none;color:#88E;}
#information a:hover {text-decoration:underline;}
#primaryContent{}
#secondaryContent{}
#navigation{}
#footer{background:#F6F6F6;border-top:1px solid #ACADAE;padding:0.3em;
  font-family:sans-serif;font-size:10pt;color:#626366;}
    #footer-poweredBy {float:right;}
    #footer-lastUpdate {}

.clear{clear:both;}
.final {text-align:center;font-size:10pt;font-family:Georgia, serif; font-weight:bold;}
.final  img {border:1px solid #CCC;}
.float{float:right;clear:right;margin-left:1em;margin-bottom:1em;border:1px solid #CCC;}
.twp {border:2px solid #000;padding:2px;}
.twp img {background-color:#000;border:2px solid #000;}

h1{color:#1079ac;font-weight:normal;font-family:sans-serif;
  text-align:center;}
h1 a {color:inherit;text-decoration:inherit;}

#name {margin-bottom:0em;}
#email {text-align:center;margin-bottom:1em;font-family:sans-serif;color:#000;position:relative;top:-0.7em;}
#split {display:inline-block;position:relative;top:0.5em;text-align:left;}
#atsign {color:#1079ac;font-weight:bold;}

h2{font-family:sans-serif;border-bottom:1px solid #CCC;font-weight:normal;margin:1.4em 0 0.2em;}

#content .cb {padding-left: 30%}
#content h2 {padding-left: 0; border-bottom:none; text-align:right; padding-right:75%;}
#content li {margin-top:1em;}
#content table {margin-left:2em;}
#content h3 {font-family:sans-serif; color:#000; font-weight:normal; border-left: 2em solid #CCC; padding-left:1em}
table {border-collapse: collapse}
thead tr th {border-bottom: 1px solid #CCC;}
tbody th {text-align:right; padding-right:2em;}

a img{border:0;}

#phdometer {text-align:center; margin-top:2em;}
#phdometer .meter { font-size: 5em; color:#888; }

#projects {margin-top:3em;width:100%;}
#projects td {padding:0.3em 0;}
#projects th {font-weight:normal; width:8em; text-align:right; vertical-align:top; padding:0.3em 1.2em 0 0;}

.extra {font-size:0.8em; color:#888; margin-left:2em;}
.extra a {text-decoration:none;color:#88E;}
.extra a:hover {text-decoration:underline;}

#projects .otherlinks td {padding-top:1em; text-align:center; text-align:center;color:#888;}
#projects .otherlinks a {text-decoration:none;color:#88E;}
#projects .otherlinks a:hover {text-decoration:underline;}

#projects .blurb td, #projects .blurb th {padding-top:2em; padding-bottom:2em; vertical-align:top; }

ul.compact {margin:4em auto 1em; padding:0; text-align:center; font-size:80%; width:80%;}
ul.compact li {list-style-type:none; margin:0; padding:0 0.5em; display:inline;}

#working { text-align:left; font-family:sans-serif;color:#1079ac; }

.wip {color:#999;}

.papers {font-size:0.8em;}
.papers li {margin-top:0.7em;}
